body{
             background-color: lightyellow;   
            }
            
            p{
                color: coral;
            }
            
            p{
                font-style: italic;
            }
            
            p{
                font-family:fantasy;
            }
            